# Node modules
node_modules/

# Output directory
dist/

# Prisma
prisma/dev.db
prisma/migrations/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.local
.env.*.local

# TypeScript cache
*.tsbuildinfo

# IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

# OS metadata
*.swp

/src/generated/prisma
